app-post {
  .post-header {
    padding: 0 2%;
  }

  .control-view {
    display: flex;
    justify-content: space-between;
    a {
      cursor: pointer;
    }
  }

  .control-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
  }
}
