<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a *ngIf="isLoggedIn()" class="navbar-brand" routerLink="">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a *ngIf="isLoggedIn()" style="cursor: pointer" class="nav-link active" aria-current="page" (click)="addNewPost()">Add</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a *ngIf="!isLoggedIn()" class="navbar-brand" routerLink="login">Sign in</a>
        <a *ngIf="isLoggedIn()" class="navbar-brand">{{user}}</a>
        <a style="cursor: pointer" *ngIf="isLoggedIn()" class="navbar-brand" (click)="logout()">Sign out</a>
      </span>
    </div>
  </div>
</nav>

<main *ngIf="isLoggedIn()">
  <app-posts></app-posts>
</main>

<app-popup aria-live="polite" aria-atomic="true"></app-popup>

<router-outlet></router-outlet>
